<nav id="navContainer">
    <div id="navButtonContainer">
        <a class="navButton" href="/">Team Kill</a>
        <a class="navButton" href="/players">Players</a>
        <a class="navButton" href="/teams">Teams</a>
        <a class="navButton" href="/leagues">Leagues</a>
         <a class="navButton" href="/matches">Matches</a>
    </div>
</nav>