<head>
    {{#each styleSheet}}
        <link rel="stylesheet" href="./public/css/{{this}}">
    {{/each}}
    <!--    
    <link rel="stylesheet" type="text/css" href="/public/owstyle.css">
	<link rel="stylesheet" type="text/css" href="/public/home-style.css"> -->
</head>

<div class="content">
    <h1>Hello Player Profile</h1>
    <h2>{{player.p_id}} - {{player.p_tag}}</h2>
</div>